<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAD_6dE3awCv7Css6bBkqzYoGA_5IkVOSo</string>
	<key>GCM_SENDER_ID</key>
	<string>1032925588527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appliive.radiocorreiodelmiro</string>
	<key>PROJECT_ID</key>
	<string>radio-correio-delmiro</string>
	<key>STORAGE_BUCKET</key>
	<string>radio-correio-delmiro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032925588527:ios:4fa3d2b340eaba4a3f2ada</string>
</dict>
</plist>